.sign-up__form {
    max-width: 640px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sign-up__title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 18px;
    line-height: 1;
}

.sign-up__email {
    margin-bottom: 9px;
}

.sign-up__name {
    margin-bottom: 9px;
}

.sign-up__password {
    margin-bottom: 18px;
}

.sign-up__entry-button {
    height: 2.5rem;
}
